<center>
    <%-include('partials/encabezado.html');%>
</center>     


<body>
    

    <form id="formulario" method="post">

        <label class="lead" for="">Matricula</label>
        <input class="form-control" aria-label="Amount (to the nearest dollar)" type="text" id="matricula" name="matricula"><br>

        <label class="lead" for="">Nombre:</label>
        <input class="form-control" aria-label="Amount (to the nearest dollar)" type="text" id="nombre" name="nombre"><br>
      
        <label class="lead" for="">Domicilio:</label>
        <input class="form-control" aria-label="Amount (to the nearest dollar)" type="text" id="domicilio" name="domicilio"><br>
      
        <label class="lead" for="">Sexo:</label>
        <input class="form-control" aria-label="Amount (to the nearest dollar)" type="text" id="sexo" name="sexo"><br>

        <label class="lead" for="">Especialidad:</label>
        <input class="form-control" aria-label="Amount (to the nearest dollar)" type="text" id="especialidad" name="especialidad"><br><br>
              
        <button id="btnInsertar" type="submit">Insertar</button><br><br>
        <button id="btnMostrarTodo" >Mostrar Todo</button><br><br>
        <button id="btnBuscarMatricula" >Buscar por matrícula</button><br><br>
        <button id="btnBorrarMatricula">Borrar por matrícula</button><br><br>
        <button id="btnActualizar">Actualizar por matricula</button>
    </form>

   
        <table class="table table-striped table-hover  table-bordered border-secondary" style="text-align: center;" id="tablaDatos">
            <thead>
                <tr>
                  <th>ID</th>
                  <th>Matrícula</th>
                  <th>Nombre</th>
                  <th>Domicilio</th>
                  <th>Sexo</th>
                  <th>Especialidad</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
        </table>
      
   

    <center>
        <%-include('partials/piePagina.html');%>
    </center>
    

</body>
<script>
    // Botón Insertar
    document.querySelector('#btnInsertar').addEventListener('click', ()=>{
        
        inputMatricula = document.getElementById('matricula').value;
        inputNombre = document.getElementById('nombre').value;
        inputDomicilio = document.getElementById('domicilio').value;
        inputSexo = document.getElementById('sexo').value;
        inputEspecialidad = document.getElementById('especialidad').value;

        console.log(inputMatricula)

        fetch('http://localhost:3001/insertar', {
            method: 'POST',
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ 
            matricula: inputMatricula, 
            nombre: inputNombre,
            domicilio: inputDomicilio,
            sexo: inputSexo,
            especialidad: inputEspecialidad })
        })
        .then(res => res.json())
        .then(res=> {
            console.log(res);
        });
    })

  // Botón para mostrar Todo
    document.querySelector('#btnMostrarTodo').addEventListener('click', event => {
    event.preventDefault();
    fetch('http://localhost:3001/mostrarTodos', {
        method: 'GET',
        headers: {
            "Content-Type": "application/json",
        },
    })
    .then(res => res.json())
    .then(res => {
        const tabla = document.querySelector('#tablaDatos tbody');
        tabla.innerHTML = ''; // Vacía la tabla antes de agregar nuevos datos
        res.forEach(dato => {
            const fila = document.createElement('tr');
            fila.innerHTML = `
              <td>${dato.id}</td>
              <td>${dato.matricula}</td>
              <td>${dato.nombre}</td>
              <td>${dato.domicilio}</td>
              <td>${dato.sexo}</td>
              <td>${dato.especialidad}</td>
            `;
            tabla.appendChild(fila);
        });
    });
});

// Botón para buscar por matricula
document.querySelector('#btnBuscarMatricula').addEventListener('click', event => {
  event.preventDefault();
  const matricula = document.getElementById('matricula').value;
    console.log(matricula)
  fetch(`http://localhost:3001/buscarMatricula?matricula=${matricula}`, {
    method: 'GET',
    headers: {
      "Content-Type": "application/json",
    }
  })
  .then(res => res.json())
  .then(res => {
    const tabla = document.querySelector('#tablaDatos tbody');
        tabla.innerHTML = ''; // Vacía la tabla antes de agregar nuevos datos
        res.forEach(dato => {
            const fila = document.createElement('tr');
            fila.innerHTML = `
              <td>${dato.id}</td>
              <td>${dato.matricula}</td>
              <td>${dato.nombre}</td>
              <td>${dato.domicilio}</td>
              <td>${dato.sexo}</td>
              <td>${dato.especialidad}</td>
            `;
            tabla.appendChild(fila);
        });
    
    
  });
});

// Botón para borrar por matricula
document.querySelector('#btnBorrarMatricula').addEventListener('click', event => {
  event.preventDefault();
  const matricula = document.getElementById('matricula').value;
  console.log(matricula)
  fetch(`http://localhost:3001/borrarPorMatricula?matricula=${matricula}`, {
    method: 'DELETE',
    headers: {
      "Content-Type": "application/json"
    }
  })
  .then(res => res.json())
  .then(res => {
    // Mostrar mensaje de éxito o error
    console.log(res);
  });
});


//Botón para actualizar
document.querySelector('#btnActualizar').addEventListener('click', event => {
  event.preventDefault();
        inputMatricula = document.getElementById('matricula').value;
        inputNombre = document.getElementById('nombre').value;
        inputDomicilio = document.getElementById('domicilio').value;
        inputSexo = document.getElementById('sexo').value;
        inputEspecialidad = document.getElementById('especialidad').value;

        console.log(inputMatricula, inputNombre, inputDomicilio, inputSexo, inputEspecialidad)
  
  fetch(`http://localhost:3001/actualizar?matricula=${inputMatricula}`, {
    method: 'PUT',
    headers: {
      "Content-Type": "application/json"
    },
    body: JSON.stringify({
            matricula: inputMatricula,
            nombre: inputNombre,
            domicilio: inputDomicilio,
            sexo: inputSexo,
            especialidad: inputEspecialidad
    })
  })
  .then(res => res.json())
  .then(res => {
    // Mostrar mensaje de éxito o error
    console.log(res);
  });
});







</script>

